<section class="head">
  <img src="../assets/logo.svg" alt="logo">
  <h1>Psinstagram</h1>
</section>
<section class="main">
  <img src="../assets/bone.svg" alt="bone">
  <div class="main_info">
    <h2>Welcome to our site, the best tool to search info abuot our four legs friends</h2>
      <button>Check out tool </button>
    
  </div>
  <img src="../assets/bigdog.svg" alt="big dog">
</section>
<section class="tool">
  <select type="text" id="dogs" name="xd" >
    <option>--Choose the breed---</option>
    <option 
    *ngFor = "let dog of posts"
    class="list">{{dog.breed}}
    
  </option>
  </select>
  {{title}}
  <app-dog-list></app-dog-list>
</section>

